@model EmployeeViewModel

@{
    ViewData["Title"] = "Edit Employee Data";
}

<h1>Edit Employee Data</h1>
<br />
<br />

<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="PartialViews/CreateEditEmployeePartialView" />

    <input type="submit" value="Submit" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-outline-dark"> Back To List </a>
</form>


@section validationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}
