
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>CheckYourInbox</h1>

<div class="main-agileinfo">
	<div class="agileits-top">
		<div>
			<p> Pssword reset link has been send to your email, Please Check Your Inbox :) </p>
		</div>
	</div>
</div>

